<template>
    <div class="flex">
      <div class="indent" @click="clicked">
        <form action="" class="connect" @submit.prevent="sendForm">
            <div class="heading">
              <h3>Калькулятор конвертации валюты</h3>
            </div>
            <div class="form">
                <input type="number" min="0" class="form_input" name="rubles" placeholder=" " v-model="rubles">
                <label class="form_label">Сумма, руб</label>
            </div>
            <div class="form currency">
              <h6>Валюта для конвертации:</h6>
              <select name="valute" id="" v-model="targetCurrency">
                <option :value="id" v-for="(val, id) in VALUTES"
                :key="id">{{id}}</option>
              </select>
            </div>
            <div class="form">
              <input type="text" class="form_input" name="summ" placeholder=" " disabled v-model="summ">
              <label class="form_label">Сумма в валюте</label>
            </div>
            <div class="form msg_letter">
              <input type="email" class="form_input" name="email" placeholder=" " v-model="email">
              <label class="form_label">E-mail</label>
            </div>
            <div class="successContainer">
                <span v-if="submitSuccess" class="success">Мы отправили нужную информацию Вам на почту!</span>
                <span v-if="submitFailed" class="failed">Произошла ошибка при отправке письма!</span>
            </div>
            <input :disabled="sending" type="submit" class="submit" :value="sending ? 'Идет отправка письма' : 'Записаться на обмен валюты'">
        </form>
      </div>
    </div>
</template>


<script>

import {mapActions, mapGetters} from 'vuex'
import emailjs from 'emailjs-com';

export default {
  name: "CurrencyCalculator",
  data() {
    return {
      rubles: '', // сколько денег мы хотим поменять
      targetCurrency: '', // валюта, которую мы хотим получить
      email: 'andrew151612@gmail.com', // наша почта, на которую отправится письмо с информацией
      submitSuccess: false, // флаг, информирующий об успешной отправке письма
      sending: false, // флаг, изменяющий текст на инпуте "Записаться на обмен валюты" вовремя отправки письма на почту
      submitFailed: false // флаг, информирующий об ошибке отправки письма
    }
  },
  computed: {
    ...mapGetters([
      'VALUTES' 
    ]),
    // результат конвертации
    summ() { 
      if (this.targetCurrency && this.VALUTES) {
        return (this.rubles / this.VALUTES[this.targetCurrency].Value).toFixed(2)
      } 
      return 0
    }
  },
  methods: {
    ...mapActions([
      'GET_VALUTE_FROM_API'
    ]),
    // событие по кнопке "Записаться на обмен валюты". введенная в инпуты информация отправляется на почту, введенную в форме. используется библиотека EmailJS
    async sendForm() {
      // объект. ключи используются в личном кабинете библиотеки EmailJS в шаблоне письма, которое отправляется на почту
      const params = {
        rubles: this.rubles,
        email: this.email,
        summ: this.summ,
        currency: this.targetCurrency
      }
      try {
        this.sending = true;
        await emailjs.send('service_f0ku64s', 'template_qcmf8lm', params, 'user_EIpxW5ImWXgaBwo79Scqh')
        this.submitSuccess = true;
        this.rubles = ''
      } catch(error) {
        console.log({error})
        this.submitFailed = true
      } finally {
        this.sending = false
      }
    },
    // после отправки письма (успешной или нет - неважно) при клике на форму строка о состоянии отправки письма исчезает
    clicked() {
      if (this.submitSuccess === true || this.submitFailed === true) {
        this.submitSuccess = false
        this.submitFailed = false
      }
    }
  },
  async mounted() {
    await this.GET_VALUTE_FROM_API()
    this.targetCurrency = (Object.keys(this.VALUTES))[0]
  },
}
</script>

<style scoped>
.flex {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.indent {
  margin: 0 auto;
  box-shadow: 0px 0px 15px 2px rgb(218, 210, 210);
  background-color: white;
  border-radius: 5px; 
}
.heading {
  align-items: baseline;
  padding-bottom: 5px;
}
h3 {
  margin: 0px;
}
h6 {
  margin: 0px;
}
.connect {
  margin: 20px 50px;
}
.form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}
.form_label {
    position: absolute;
    top: 4px;
    left: 5px;
    bottom: 16px;
    font-size: 15px;
    color: rgba(105, 102, 102, 0.6);
    transition: 0.3s;
    pointer-events: none;
}
.form_input {
    height: 35px;
    width: 99%;
    padding: 10px 0px 0px 5px;
    font-size: 14px;
    color: black;
    border: 1px solid #bec5ca;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    outline: none;
    transition: 0.05s;
}
.form_input:focus {
    outline: 2px solid #1665D8;
    border-color: transparent;
}
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: 4px;
    font-size: 10px;
}
.msg_letter {
    margin-bottom: 0px;
}
.currency {
  display: flex;
  justify-content: space-evenly;
}
.submit {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    padding: 11px 5px;
    background-color: #1665D8;
    border-radius: 4px;
    cursor: pointer;
}
.success {
  color: #2ec547;
  font-size: 16px;
  margin-top: 16px;
}
.failed {
  color: #e91b1b;
  font-size: 16px;
  margin-top: 16px;
}
.successContainer {
  min-height: 29px;
  margin: 10px 0px;
}
</style>
 